body{
    user-select:none;   
    background:rgb(0,0,25);
    overflow-y:scroll;
    color:white;
    font-size:large;
    font-weight:bold;
}
#result{
display:none;
    margin:20px auto;
    border-radius:15px;
    width:90%;
    backdrop-filter:blur(20px);
    padding:10px;
    box-shadow:5px 5px 20px 5px grey;
    font-size: large;
    color:white;
    height:400px;
    overflow-y:scroll ;
}
#table{
    width:100%;
}
#td,#td_a{
    width:50%;
    font-size: large;
    border-bottom:2px solid white;
}
#bottom{
    background-color:white;
    color:black;
    bottom:0;
    width:100%;
    left:0;
    position:fixed;
}
#pimg{
        display:flex;
        align-items:center;
        justify-content:center;
    }
    #pp{
        display:block ;
    }
@media screen and (min-width: 700px) {
    #pimg{
        float: left;
    }
    #pp{
        display:block ;
        font-size: x-large;
    }
}
